Repository finos/SymphonyElectron, pull requests merged in 2018-02, with the labels that each got.

#302 SEARCH-622 (Remove the "randomString" dependency from electron & refactoring)
  demo/search.html
  js/cryptoLib/index.js
  js/search/search.js
  js/search/searchConfig.js
  js/search/utils/randomString.js
  package.json
  tests/Search.test.js
Labels: cla-signed, enhancement, search

#301 SEARCH-605 (Electron - Cannot enable swift search on Windows 7)
  js/search/searchConfig.js
  js/search/utils/checkDiskSpace.js
  tests/Search.test.js
  tests/SearchUtils.test.js
Labels: bug, cla-signed, search

#300 ELECTRON-305: Upgrade to electron 1.8.2
  package.json
Labels: cla-signed, upgrade
